################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BeatSaber_DynamicCurve
/BeatSaber_DynamicCurve/obj/Debug
/BeatSaber_DynamicCurve/obj
/BeatSaber_DynamicCurve/bin/Release
/.vs
